/* LAPTOP */
@media (max-width: 1024px) {
  .intro > p {
    font-size: 1.1rem;
  }

  .about-me-paragraph_main {
    padding: 0 !important;
  }

  .container-skills_card {
    gap: 0.5rem;
  }

  .my-learning-way-time-line-container {
    width: 850px;
  }

  .horizontal-line {
    width: 50%;
  }

  .vertical-line {
    height: 450px;
  }

  .card_learning_way {
    width: 400px;
    height: 150px;
  }

  .contact-container {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0.4rem;
  }

  .card-container-about-me_main {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* TABLET */

@media (max-width: 768px) {
  /* NAVBAR */
  .navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    opacity: 0;
    top: 0px;
    right: 0px;
    transform: translateY(-100%);
    transition: all 0.5s ease;
    position: absolute;
    border-radius: 15px 0 0 15px;
    z-index: 100;
  }

  .navbar-menu.active {
    background: #10066b;
    padding: 0;
    opacity: 1;
    transform: translateY(0%);
    transition: all 0.5s ease;
    font-size: 1.1rem;
    position: absolute;
    z-index: 100;
  }

  .navbar-item:not(:last-child) {
    border-bottom: 2px solid #5e5e5e;
    width: 100%;
    padding: 0 0 10px 0;
  }

  .navbar-toggle .bar_toggle {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    display: block;
    cursor: pointer;
  }

  .navbar-menu a {
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    transform: translate(5%, 20%);
  }

  #mobile-menu.is-active .bar_toggle:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar_toggle:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar_toggle:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .download-button {
    padding: 1rem 2rem;
  }

  .left-section_header {
    grid-row: 2;
  }

  /* hero */

  .container_header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .right-section_header {
    grid-row: 1;
  }

  /* MAIN */

  .container_main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  /* ABOUT */

  .left-section_main {
    margin: 0;
  }

  .about-me-paragraph_main {
    margin: 1rem 5rem;
  }

  /* SKILLS */

  .right-section_main {
    margin-right: 0;
  }

  /* LEARNING WAY */

  .my-learning-way-time-line-container {
    gap: 6rem;
  }

  .vertical-line {
    top: 50%;
    transform: translateY(-50%);
    height: 35rem;
    z-index: 0;
  }

  .horizontal-line {
    display: none;
  }

  .circle_main {
    display: none;
  }

  .card_learning_way {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .card-1-container_learning_way {
    align-self: center;
    z-index: 1;
  }

  .card-2-container_learning_way {
    margin-left: 0;
    z-index: 1;
  }

  .card-3-container_learning_way {
    align-self: center;
    z-index: 1;
  }

  /* FOOTER */

  .goals-container {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 1rem 2rem;
  }

  .goals {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact_footer {
    display: flex;
    flex-direction: column;
  }

  .contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 540px) {
  /* NAV SECTION */

  .navbar-menu {
    top: 90px;
  }

  .navbar-menu.active {
    top: 90px;
  }
}

/* MOBILE */

@media screen and (max-width: 430px) {
  /* LOGO */

  .logo_header {
    font-size: 2rem;
  }

  /* HERO SECTION */
  /* =============================== */

  .cover-position-of-cards {
    width: 300px;
    height: 300px;
  }

  .big-circle {
    width: 240px;
    height: 240px;
  }

  .smaller-circle {
    width: 190px;
    height: 190px;
  }

  .back-light {
    width: 140px;
    height: 140px;
  }

  .hero-img {
    width: 140px;
    height: 140px;
  }

  .card_hero {
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
  }

  /* BUTTONS */

  .contact-button_header,
  .about-me-button_header {
    font-size: 1rem;
  }
  .buttons_header {
    gap: 1rem;
    margin: 0 0 1rem 0;
  }

  /* ============================== */

  /* MAIN */

  /* ABOUT ME */

  .left-section_main {
    gap: 6px;
  }

  .about-me-paragraph_main {
    margin: 1rem;
  }

  /* SKILLS */

  .container-skills_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* LEARNING WaY */

  .card_learning_way {
    width: 200px;
    height: 200px;
    line-gap-override: 2px;
  }

  .card_learning_way p {
    line-height: 24px;
  }

  /* FOOTER - PROJECTS*/

  .card-container-projects_footer {
    display: flex;
    flex-direction: column;
  }

  /* GOALS */

  .goals_paragraph {
    font-size: 0.7rem;
  }

  /* CONTACT */

  .contact-container {
    display: flex;
    flex-direction: column;
  }
}
/*  */
