:root {
  --color-text: #b3b3b3;
  --color-white: #ffffff;
  --color-smoth-white: #f5f5f5;
}

body {
  background: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ============== */
/* HEADER SECTION */
/* ============== */

header {
  background: #01041a;
  padding-bottom: 2rem;
}

/* NAVBAR SECTION */

nav {
  display: flex;
  justify-content: center;
  margin: 2rem;
  gap: 3rem;
}

div.logo_header {
  color: var(--color-white);
  background: linear-gradient(to right bottom, #1900ff 0%, #000000 70%);
  font-size: 2rem;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  border: 1px solid #006efd;
  text-align: center;
}

div.navbar {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding: 1rem;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  color: #9b9b9b;
  transition: all 0.3s ease;
}

/* header a.home {
}

header a.about-me {
}

header a.skills {
}

header a.projects {
}

header a.contact {
} */

header div.download {
  padding: 1rem, 3rem;
  color: #fff;
  background: linear-gradient(to right, #051428 20%, #03234d 100%);
  padding: 1rem 1rem;
  border: 1px solid #006efd;
  border-radius: 15px;
}

/* LEFT SECTION */

header div.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

header div.hello {
  margin-bottom: 0.1rem;
}

header div.name {
  display: flex;
  gap: 5px;
}

header h1.name {
  color: #fff;
}

header h1.lastname {
  color: #49a7ff;
}

header div.name h1 {
  margin: 0;
}

header div.left-section {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  direction: rtl;
  flex: 1;
}

/* header h5.intro-english {
}

header p.intro-persian {
}

header p.i-like {
} */

header div.buttons {
  margin: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

header a.contact-button {
  border: 1px solid #006efd;
}

header a.contact-button,
a.about-me-button {
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

header a.about-me-button {
  background: linear-gradient(to right, #344fe7 25%, #3000b6 95%);
}

/* RIGHT SECTION */

header div.rihgt-section {
  padding: 1rem;
}

header div.rihgt-section div {
  display: flex;
  align-items: center;
  justify-content: center;
}

header div.right-section img {
  max-width: 600px;
  display: block;
  object-fit: cover;
}

div.social {
  display: flex;
  justify-content: center;
  gap: 25px;
}

div.social i {
  color: #ebeef0;
}

/* MAIN */

main {
  color: #ffffff;
  border-top: 2px solid #300855;
}

div.container_main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  background: #040627;
  padding-bottom: 2rem;
}

/* ABOUT ME */

div.left-section_main {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 2rem;
}

/* div.about-me_main {
} */

h3.about-me_main {
  font-size: 1.5rem;
}

p.about-me_main {
  padding: 0 10rem;
  line-height: 1.7;
  color: var(--color-text);
  margin-bottom: 1.2rem;
}

div.container-about-me_main {
  display: flex;
  gap: 5px;
  justify-content: center;
}

div.about-me_main i {
  font-size: 1.2rem;
  color: #8f18ff;
}

div.container-about-me_main i {
  font-size: 1.5rem;
}

div.container-about-me_main > div:nth-child(odd) i {
  color: #006efd;
}

div.container-about-me_main > div:nth-child(even) i {
  color: #ff0040;
}

div.about-me-boxes {
  padding: 1rem;
  width: 25%;
  background: #010e1f;
  border: 2px solid #031c3d;
}

div.container-about-me_main div > p:nth-child(even) {
  font-weight: 500;
  font-size: 1rem;
}

div.container-about-me_main div > p:nth-child(odd) {
  color: var(--color-text);
}

/* SKILLS */

div.right-section_main {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 2rem;
}

div.skills {
}

h3.skills {
}

h3.skills i {
  color: #8f18ff;
}

div.container-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

div.skills-img {
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  background:
    linear-gradient(#0b1b30) padding-box,
    linear-gradient(50deg, #00aeff, #2013cf, #00aeff) border-box;
}

div.skills-img img {
  width: 50px;
  height: auto;
}

div.container-skills h4 {
  font-size: 1rem;
  margin: 0.5rem;
}

div.container-skills span {
  color: var(--color-text);
}

div.bar {
  width: 100%;
  height: 8px;
  background: #031e3a;
  border-radius: 10px;
}

div.fill {
  height: 100%;
  background: linear-gradient(to right, #49a7ff 0%, #3d71ff 50%, #b13dff 100%);
  border-radius: 10px;
  margin: 0.5rem;
}

div.html {
  width: 85%;
}
div.css {
  width: 80%;
}
div.js {
  width: 50%;
}
div.git {
  width: 85%;
}
div.figma {
  width: 0%;
}
div.react {
  width: 0%;
}

/* MY LEARNING WAY */

div.my-learning-way {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #010522;
  padding-bottom: 2rem;
}

i.fa-route {
  color: #8f18ff;
}

div.my-learning-way-time-line-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1100px;
}

div.my-learning-way-time-line-container span {
  color: #7700ff;
}

div.my-learning-way-time-line-container h5 {
  margin: 0.2rem;
}

div.my-learning-way-time-line-container p {
  color: var(--color-text);
  margin: 0.3rem;
}

div.vertical-line {
  width: 3px;
  height: 335px;
  background: linear-gradient(
    to bottom,
    #00aeff,
    #006efd,
    #00aeff,
    #006efd,
    #00aeff,
    #006efd
  );
  position: absolute;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
}

div.horizontal {
  height: 3px;
  width: 50%;
  background: linear-gradient(to right, #006efd, #00aeff, #006efd);
}

div.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background:
    linear-gradient(#ffffff) padding-box,
    linear-gradient(90deg, #1900ff, #13b3cf, #1900ff) border-box;
  border: 8px solid transparent;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

div.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #00aeff;
  padding: 1rem;
  width: 500px;
  height: 100px;
  background: #061a33;
  border-radius: 10px;
}

div.card-1-container {
  direction: rtl;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
}

div.card-2-container {
  direction: ltr;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  margin-left: auto;
}

div.card-3-container {
  direction: rtl;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
}

/* FOOTER */

footer {
  color: #ffffff;
}

/* PROJECTS */

div.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
}

div.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

div.project-card {
  background: #0b1b30;
  border-radius: 1rem;
  padding: 3rem;
}

/* GOALS */

div.goals-contact {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  margin: 0 5rem;
}

div.goals {
  direction: rtl;
}

div.goals h3 {
  margin-right: 6rem;
}

p.goals {
  width: 400px;
  padding: 0.5rem;
  background:
    linear-gradient(#0b1b30) padding-box,
    linear-gradient(50deg, #00aeff, #2013cf, #00aeff) border-box;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  color: #b3b3b3;
}

div.goals i {
  color: #ff0077;
}

/* CONTACT */

div.contact-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

div.contact-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

div.contact-container > div {
  padding: 1rem;
  background:
    linear-gradient(#0b1b30) padding-box,
    linear-gradient(50deg, #00aeff, #2013cf, #00aeff) border-box;
  border: 1.5px solid transparent;
}

div.contact-container > div:nth-child(odd) i {
  color: #006efd;
}

footer h3 > i {
  font-size: 1.2rem;
  color: #006efd;
}

div.contact-container i {
  font-size: 2rem;
}

div.contact-container span {
  font-size: 0.9rem;
  color: #b3b3b3;
}

div.gmail-footer {
}

div.github-footer {
}

div.linkedin-footer {
}
