body {
  background: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ============== */
/* HEADER SECTION */
/* ============== */

header {
  background: #01041a;
  padding: 1rem 0;
}

/* NAVBAR SECTION */

nav {
  display: flex;
  justify-content: center;
  margin: 1rem;
  gap: 3rem;
}

div.logo_header {
  color: #fff;
  background: linear-gradient(to right bottom, #1900ff 0%, #000000 70%);
  font-size: 2rem;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  border: 1px solid #006efd;
  text-align: center;
}

div.navbar {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding: 1rem;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  color: #9b9b9b;
  transition: all 0.3s ease;
}

header a.home {
}

header a.about-me {
}

header a.skills {
}

header a.projects {
}

header a.contact {
}

header div.download {
  padding: 1rem, 3rem;
  color: #fff;
  background: linear-gradient(to right, #051428 20%, #03234d 100%);
  padding: 1rem 1rem;
  border: 1px solid #006efd;
  border-radius: 15px;
}

/* LEFT SECTION */

header div.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

header div.hello {
  margin-bottom: 0.1rem;
}

header div.name {
  display: flex;
  gap: 5px;
}

header h1.name {
  color: #fff;
}

header h1.lastname {
  color: #49a7ff;
}

header div.name h1 {
  margin: 0;
}

header div.left-section {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  direction: rtl;
  flex: 1;
}

header h5.intro-english {
}

header p.intro-persian {
}

header p.i-like {
}

header div.buttons {
  margin: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

header a.contact-button {
  border: 1px solid #006efd;
}

header a.contact-button,
a.about-me-button {
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

header a.about-me-button {
  background: linear-gradient(to right, #344fe7 25%, #3000b6 95%);
}

/* RIGHT SECTION */

header div.rihgt-section {
  padding: 1rem;
}

header div.rihgt-section div {
  display: flex;
  align-items: center;
  justify-content: center;
}

header div.right-section img {
  max-width: 600px;
  display: block;
  object-fit: cover;
}

div.social {
  display: flex;
  justify-content: center;
  gap: 25px;
}

div.social i {
  color: #ebeef0;
}

/* MAIN */

main {
  color: #ffffff;
  border-top: 2px solid #300855;
}

div.container_main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  background: #040627;
}

/* ABOUT ME */

div.left-section_main {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 2rem;
}

div.about-me_main {
}

h3.about-me_main {
  font-size: 1.5rem;
}

p.about-me_main {
  padding: 0 10rem;
  line-height: 1.7;
  color: #b3b3b3;
  margin-bottom: 1.2rem;
}

div.container-about-me_main {
  display: flex;
  gap: 5px;
  justify-content: center;
}

div.container-about-me_main i {
  font-size: 1.5rem;
}

div.container-about-me_main > div:nth-child(odd) i {
  color: #006efd;
}

div.container-about-me_main > div:nth-child(even) i {
  color: #ff0040;
}

div.about-me-boxes {
  padding: 1rem;
  width: 25%;
  background: #010e1f;
  border: 2px solid #031c3d;
}

div.container-about-me_main div > p:nth-child(even) {
  font-weight: 500;
  font-size: 1rem;
}

div.container-about-me_main div > p:nth-child(odd) {
  color: #b3b3b3;
}

/* SKILLS */

div.right-section_main {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 2rem;
}

div.skills {
}

h3.skills {
}

div.container-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

div.skills-img {
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  background:
    linear-gradient(#0b1b30) padding-box,
    linear-gradient(50deg, #00aeff, #2013cf, #00aeff) border-box;
}

div.skills-img img {
  width: 50px;
  height: auto;
}

div.container-skills h4 {
  font-size: 1rem;
  margin: 0.5rem;
}

div.container-skills span {
  color: #9b9b9b;
}

div.bar {
  width: 100%;
  height: 8px;
  background: #031e3a;
  border-radius: 10px;
}

div.fill {
  height: 100%;
  background: linear-gradient(to right, #49a7ff 0%, #3d71ff 50%, #b13dff 100%);
  border-radius: 10px;
  margin: 0.5rem;
}

div.html {
  width: 85%;
}
div.css {
  width: 80%;
}
div.js {
  width: 50%;
}
div.git {
  width: 85%;
}
div.figma {
  width: 0%;
}
div.react {
  width: 0%;
}